table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid;
}

input {
    margin: 0;
}

textarea {
    vertical-align: top;
}

form {
    margin: 10px;
}

.invalid {
    border: 2px solid red;
    box-shadow: 0x 0x 5px red;
}

#read-cell.on {
    background-color: green;
}

#read-cell {
    cursor: pointer;
    background-color: red;
}

.error {
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }

  label {
    display: flex;
    flex-direction: column;
  }

  .form-elem {
    display: inline-block;
    margin: 10px;
  }

  th {
    padding: 5px;
  }

  table {
    text-align: center;
  }

td {
    padding: 5px;
}